*{
  background-color: #f6ebff;
}
.taskcontainer{
  margin: 25px 12px;
  padding: 4px;
}

.addedTasks{
  display: inline;
  padding: 2px 1px;


}

.buttonDesign{
  height: 40px;
  margin-top: 8px ;
  margin-bottom: 11px;
}